:root{
  --color-main:#062743;
  --color-secondary:#113a5d;
  --color-contrast:#c4ffdd;
  --color-bright:#f9f9f9;
  font-family: sans-serif;
  --bar-height: 100px;
}
body{
  background-color: var(--color-main);
  background-image: -webkit-linear-gradient(28deg, var(--color-secondary) 50%, var(--color-main) 50%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-content{
  display: grid;
}

.main-content-sm{
  grid-template-columns:auto auto auto;
  grid-template-rows: 25vh 25vh 25vh;
}

.main-content-lg{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: repeat(12, 1fr [col-start]);
  grid-gap: 20px;
  grid-auto-rows: 200px 200px;
}
.content-bubble{
  align-self: stretch;
  border-radius: 15px;
  grid-column: auto/ span 2;
  grid-row: auto/ span 1;
  margin:20px;
  padding: 30px;
  box-shadow: 5px 5px 20px 4px #282c34;
}
.content-bubble h3{
  text-align: center;
}

#image-main{
  background-color: var(--color-main);
  background-image: -webkit-linear-gradient(330deg, var(--color-secondary) 50%, var(--color-main) 50%);
  grid-column: 1/ span 12;
  grid-row: 1/ span 3;
}






